/* reset */
body .wc-app, .wc-app button, .wc-app input, .wc-app textarea {
  font-family: "Segoe UI", sans-serif;
  font-size: 15px; }

.wc-app button {
  background-color: #0063b1;
  border: 1px solid #cccccc;
  border-radius: 1px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: color .2s ease, background-color .2s ease; }

.wc-app h1, .wc-app h2, .wc-app h3, .wc-app h4, .wc-app p, .wc-app ul, .wc-app ol {
  margin: 0;
  padding: 0; }

.wc-app audio, .wc-app video {
  display: block; }

/* docking */
.wc-hidden {
  visibility: hidden; }

.wc-header {
  background-color: #F05F40;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  color: #ffffff;
  font-weight: 500;
  height: 30px;
  left: 0;
  letter-spacing: 0.5px;
  padding: 8px 8px 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.wc-time {
  color: #999999;
  margin-bottom: 10px; }

.wc-message-groups {
  bottom: 50px;
  left: 0;
  transform: translateY(0);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 38px;
  transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1); }

.wc-message-group-content {
  overflow: hidden; }

.wc-suggested-actions {
  background-color: #f9f9f9;
  bottom: 50px;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: height 0.2s cubic-bezier(0, 0, 0.5, 1); }
  .wc-suggested-actions .wc-hscroll > ul {
    height: 40px;
    padding: 2px 3px; }
    .wc-suggested-actions .wc-hscroll > ul > li {
      display: inline-block;
      margin: 2px;
      max-width: 40%; }
      .wc-suggested-actions .wc-hscroll > ul > li button {
        background-color: #fff;
        color: #3a96dd;
        min-height: 32px;
        overflow: hidden;
        padding: 0 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; }
      .wc-suggested-actions .wc-hscroll > ul > li button:hover {
        background-color: #fff;
        border-color: #3a96dd;
        color: #3a96dd; }
      .wc-suggested-actions .wc-hscroll > ul > li button:active {
        background-color: #3a96dd;
        border-color: #3a96dd;
        color: #ffffff; }
  .wc-suggested-actions button.scroll {
    background-color: #d2dde5;
    height: 40px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 28px; }
  .wc-suggested-actions button.scroll:disabled {
    display: none; }
  .wc-suggested-actions button.scroll:hover {
    background-color: #808c95; }
  .wc-suggested-actions button.scroll svg {
    fill: #ffffff; }
    .wc-suggested-actions button.scroll svg path {
      transform: translateY(6px); }
  .wc-suggested-actions button.scroll.previous {
    left: 0; }
  .wc-suggested-actions button.scroll.next {
    right: 0; }

.wc-message-pane.show-actions .wc-message-groups {
  transform: translateY(-40px); }

.wc-message-pane.show-actions .wc-suggested-actions {
  height: 40px; }

.wc-console {
  border: 5px solid #dbdee1;
  bottom: 0;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0; }

/* views */
.wc-chatview-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

/* messages */
.wc-message-wrapper {
  animation: animationFrames 2s;
  animation-iteration-count: 1;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  /*transition: max-height 2s ease-in-out;*/ }

@keyframes animationFrames {
  0% {
    /*max-height: 0;*/
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    /*max-height: 2000px;*/ } }

.wc-message {
  position: relative; }

.wc-message-wrapper.carousel .wc-message {
  max-width: none;
  padding-right: 8px; }

.wc-message svg.wc-message-callout {
  height: 22px;
  position: absolute;
  stroke: none;
  top: 12px;
  width: 6px; }

.wc-message-content {
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  word-break: break-word; }

.wc-message-content.clickable {
  cursor: pointer; }

.wc-message-content.selected {
  box-shadow: 0px 1px 1px 0px #ffa333; }

.wc-message-content img {
  max-height: 320px;
  max-width: 100%; }

.wc-message-content .video iframe {
  border: 0; }

.wc-message-content audio, .wc-message-content video {
  max-width: 100%; }

.wc-message-content audio + h1, .wc-message-content video + h1 {
  margin-top: 11px; }

.wc-message-from {
  clear: both;
  color: #999999;
  font-size: 11px;
  margin-top: 5px; }

/* cards */
.wc-card {
  background-color: #ffffff; }
  .wc-card .non-adaptive-content {
    margin: 8px 8px 0 8px; }
  .wc-card button {
    background-color: transparent;
    color: #3a96dd;
    min-height: 32px;
    width: 100%;
    padding: 0 16px; }
  .wc-card button:hover {
    background-color: transparent;
    border-color: #3a96dd;
    color: #3a96dd; }
  .wc-card button:active {
    background-color: #3a96dd;
    border-color: #3a96dd;
    color: #ffffff; }
  .wc-card.receipt table {
    border-collapse: collapse;
    width: 100%; }
  .wc-card.receipt th, .wc-card.receipt td {
    text-align: right;
    vertical-align: top; }
  .wc-card.receipt th:first-child, .wc-card.receipt td:first-child {
    text-align: left; }
  .wc-card.receipt th {
    color: #808c95;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.75; }
  .wc-card.receipt thead tr:last-child th {
    padding-bottom: 16px; }
  .wc-card.receipt th[colspan="2"] {
    color: inherit;
    font-size: 15px;
    font-weight: 700; }
  .wc-card.receipt td {
    padding: 4px 8px 0 8px; }
  .wc-card.receipt td img {
    float: left;
    margin: 5px 8px 8px 0;
    max-height: 50px;
    max-width: 50px; }
  .wc-card.receipt div.title {
    font-weight: bolder; }
  .wc-card.receipt div.subtitle {
    font-weight: lighter; }
  .wc-card.receipt tbody tr, .wc-card.receipt tfoot tr {
    border-top: 1px solid #d2dde5; }
  .wc-card.receipt tbody tr:first-child, .wc-card.receipt tfoot tr:first-child {
    border-top-width: 2px; }
  .wc-card.receipt tfoot td {
    line-height: 2.25; }
  .wc-card.receipt tfoot .total {
    font-weight: bold; }
  .wc-card.thumbnail img {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px; }
  .wc-card.signin h1 {
    margin: 10px 24px 16px 14px; }
  .wc-card.error {
    text-align: center; }
    .wc-card.error .error-icon {
      fill: #cccccc;
      height: 56px;
      margin-bottom: 2px;
      margin-top: 20px;
      padding-left: 12px; }
    .wc-card.error .error-text {
      color: #cccccc;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
      text-align: inherit; }

/* alternate chat sizes */
.wc-message {
  max-width: 91%; }

.wc-card {
  border: 1px solid #d2dde5;
  width: 302px; }

.wc-adaptive-card {
  width: 318px; }

.wc-wide .wc-card {
  border: 1px solid #d2dde5;
  width: 398px; }

.wc-wide .wc-adaptive-card {
  width: 414px; }

.wc-narrow .wc-card {
  border: 1px solid #d2dde5;
  width: 198px; }

.wc-narrow .wc-adaptive-card {
  width: 214px; }

/* adaptive card adjustments from wc-card */
.wc-adaptive-card p {
  margin-left: 0;
  margin-right: 0; }

/* list */
.wc-list > .wc-card {
  margin-top: 8px; }

.wc-list > .wc-card:first-child {
  margin-top: 0; }

/* horizontal scroll */
.wc-hscroll-outer {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow: hidden; }

.wc-hscroll {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow-x: scroll;
  overflow-y: hidden; }

.wc-hscroll > ul {
  white-space: nowrap; }

.wc-hscroll > ul > li {
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

/* carousel */
.wc-carousel {
  position: relative; }
  .wc-carousel button.scroll {
    background-color: #d2dde5;
    height: 28px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 28px; }
  .wc-carousel button.scroll:disabled {
    display: none; }
  .wc-carousel button.scroll:hover {
    background-color: #808c95; }
  .wc-carousel button.scroll svg {
    fill: #ffffff; }
  .wc-carousel button.scroll.previous {
    left: -16px; }
  .wc-carousel button.scroll.next {
    right: -16px; }
  .wc-carousel .wc-hscroll > ul {
    margin-left: -4px; }
  .wc-carousel .wc-hscroll > ul > li {
    padding: 0 4px; }
  .wc-carousel .wc-hscroll > ul > li:last-child {
    padding-right: 0; }
  .wc-carousel li p {
    min-height: 4em;
    white-space: normal; }
  .wc-carousel li .wc-adaptive-card p {
    min-height: initial; }

/* from me */
.wc-message-from-me {
  float: right;
  margin-right: 6px; }

.wc-message-from-me.wc-message-from {
  text-align: right; }

.wc-message-from-me .wc-message-content {
  background-color: rgba(240, 95, 64, 0.80);
  color: #ffffff; }

.wc-message-from-me svg.wc-message-callout path {
  fill: rgba(240, 95, 64, 0.80); }

.wc-message-from-me svg.wc-message-callout path.point-left {
  display: none; }

.wc-message-from-me svg.wc-message-callout {
  right: -6px; }

/* from bot */
.wc-message-from-bot {
  float: left;
  margin-left: 8px; }

.wc-message-from-bot .wc-message-content {
  background-color: #eceff1;
  color: #000000; }

.wc-message-from-bot svg.wc-message-callout path {
  fill: #eceff1; }

.wc-message-from-bot svg.wc-message-callout path.point-right {
  display: none; }

.wc-message-from-bot svg.wc-message-callout {
  left: -6px; }

/* console */
.wc-console > * {
  position: absolute;
  top: 0;
  vertical-align: middle; }

.wc-console label {
  cursor: pointer;
  display: inline-block;
  height: 40px; }

.wc-console svg {
  fill: #8a8a8a;
  margin: 11px; }

.wc-console textarea, .wc-console input[type=text] {
  border: none;
  height: 100%;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%; }

.wc-send svg {
  height: 18px;
  width: 27px; }

.wc-upload svg {
  height: 18px;
  width: 26px; }

#wc-upload-input {
  display: none; }

.wc-textbox {
  bottom: 0;
  left: 48px;
  right: 49px; }

.wc-send {
  right: 0; }

.wc-send.hidden {
  visibility: hidden; }

.wc-mic {
  right: 0; }

.wc-mic.hidden {
  visibility: hidden; }

.wc-mic.active path#micFilling {
  fill: #4e3787; }

.wc-mic.inactive path#micFilling {
  visibility: hidden; }

.wc-console.has-text .wc-send svg {
  fill: #3a96dd; }

/* animation */
.wc-typing {
  width: 20px;
  height: 20px;
  background-color: #f05f40;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.wc-animate-scroll {
  left: 0;
  position: absolute;
  transition: left .8s ease; }

.wc-animate-scroll-rapid {
  left: 0;
  position: absolute;
  transition: left .4s ease; }

.wc-animate-scroll-near {
  left: 0;
  position: absolute;
  transition: left .3s ease-in-out; }

/* text formats */
.format-markdown > p {
  margin-bottom: 0px; }

.format-markdown code {
  white-space: pre-wrap; }

.format-markdown + div {
  margin-top: 8px; }

.format-markdown ol {
  padding-left: 30px;
  /* numbers are right-aligned to the period */ }

.format-markdown ul {
  padding-left: 33px; }

/* browser scrollbar customization */
.wc-app ::-webkit-scrollbar {
  width: 8px; }

.wc-app ::-webkit-scrollbar * {
  background-color: transparent; }

.wc-app ::-webkit-scrollbar-thumb {
  background-color: #dbdee1; }