# https://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Used by Prettier
max_line_length = 80
indent_size = 2
indent_style = tab
end_of_line = lf

# Overrides
[{.*,*.md,*.mdx,*.json,*.toml,*.yml,*.yaml}]
max_line_length = 65535
indent_style = space

# Overrides
[*.{md,mdx}]
trim_trailing_whitespace = false

# Overrides
[COMMIT_EDITMSG]
max_line_length = 72