### Astro ###
# Source: https://github.com/withastro/astro/blob/main/examples/minimal/.gitignore
dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production

### Environment ###
# macOS files.
.DS_Store
# Text editor files.
.vscode/
.idea/

