# https://github.com/withastro/astro/blob/main/examples/minimal/.gitignore
dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store

# IDE
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Build
src/assets/fonts/*.eot
src/assets/fonts/*.otf
src/assets/fonts/*.ttf
src/assets/fonts/*.woff
src/assets/fonts/*.woff2
