@import 'reset.css';
@import 'variables.css';
@import 'fonts.css';

:root {
	--ti-cursor-margin-left: 0.2em;
	--ti-cursor-color: rgb(238, 75, 43);
}

html {
	scroll-behavior: smooth;
}

img {
	margin: 0px;
	padding: 0px;
}

hr {
	max-width: 1440px;
}

#top-button {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 40px;
}

#top-button:hover {
	filter: brightness(50%);
}

#club-slogan {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 60px 0px;
}

#club-slogan-top {
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
}

#club-slogan img {
	display: block;
	margin: 0 auto;
	padding: 30px 0px;
	width: 200px;
}

#club-slogan-text-header {
	display: block;
	text-align: center;
	font-size: 42px;
	color: black;
	font-weight: 700;
	font-family: CantarellBold;
	font-weight: 1000;
}

#club-slogan-text-content {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	color: black;
	font-family: Cantarell;
	font-weight: 1000;
}

#section-intro {
	margin: 50px 0px;
}

#intro-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

#section-activities {
	margin: 60px 0px;
}

#section-activities h1 {
	margin-bottom: 75px;
}

#section-activities-workshops .column-2-7 {
	margin-right: 50px;
}

#github-workshop {
	border-radius: 1%;
	background-color: rgb(238, 238, 238);
	width: 100%;
	height: 1000px;
}

#workshop-image {
	width: 65%;
}

.image-center {
	display: flex;
	justify-content: center;
}

/* #github-workshop-header {
} */

#github-workshop-img img {
	border-radius: 1%;
	margin: 0 auto;
	width: 800px;
}

#activities-sub-header {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 75px;
}

#section-excos {
	margin: 50px;
}

.box {
	border-radius: 3%;
	overflow: hidden;
}

.image-text-container-left {
	margin: 75px 0px;
	display: flex;
	column-gap: 20px;
	justify-content: left;
	text-align: left;
}

.image-text-container-right {
	margin: 75px 0px;
	display: flex;
	column-gap: 20px;
	justify-content: right;
	text-align: right;
}

.column-2-3 {
	width: 40%;
}

.column-2-7 {
	width: 60%;
}

.column-2-5 {
	width: 50%;
}

/* .image {
	width: 1000px;
	height: 240px;
} */

#intro-image {
	width: 80%;
	margin: auto;
}

.intro-container-text {
	margin: 50px;
}

.intro-container-img {
	margin: 50px;
}

.section-header {
	font-size: 2rem;
	text-align: center;
	font-family: HankenGrotesk;
	font-weight: 700;
	margin-bottom: 25px;
	font-size: 36px;
}

.text-header {
	font-size: 2.2rem;
	font-family: Cantarell;
	font-weight: 700;
	margin-bottom: 30px;
}

.text-content {
	font-size: 1rem;
	font-family: Monda;
	margin-bottom: 20px;
}

.exco-gallery {
	background-color: #f0f3f2;
	display: flex;
	flex-wrap: wrap;
}

.exco-box {
	background-color: rgb(244, 246, 247);
	display: flex;
	width: 29%;
	padding: 25px;
	margin: 25px;
	border-radius: 16px;
}

.exco-box-left {
	width: 30%;
}

.exco-box-right {
	width: 70%;
	display: block;
	padding: 30px;
}

.exco-img {
	width: 100%;
	height: auto;
	border-radius: 100px;
}

.exco-name {
	text-align: center;
	font-family: MondaBold;
}

.exco-title {
	text-align: center;
	font-family: Monda;
}
