@import 'reset.css';
@import 'variables.css';
@import 'fonts.css';

* {
	box-sizing: border-box;
}

#section-intro {
	margin-top: 50px;
	text-align: center;
}

#section-intro p {
	margin-top: 20px;
	margin-bottom: 25px;
}

#section-activities {
	margin: 25px;
	padding: 25px;
}

#section-excos {
	margin: 25px;
	padding: 25px;
}

.image-text-container-left {
	margin: 15px;
	padding: 15px;
	display: flex;
	column-gap: 20px;
	justify-content: left;
	text-align: left;
}

.image-text-container-right {
	margin: 15px;
	padding: 15px;
	display: flex;
	column-gap: 20px;
	justify-content: right;
	text-align: right;
}

.column-2-3 {
	width: 30%;
}

.column-2-7 {
	width: 70%;
}

.image {
	width: 150px;
}

.section-header {
	text-align: center;
}

.text-header {
}

.text-content {
}

.exco-gallery {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.exco-gallery-box {
	margin: 10px;
	border: 1px solid #ccc;
	width: 160px;
}

.exco-img {
	width: 100%;
	height: auto;
}

.exco-name {
	text-align: center;
}

.exco-title {
	text-align: center;
}
