/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@layer fonts {
	@font-face {
		font-family: 'Atkinson';
		src: url('/src/assets/fonts/atkinson-regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Atkinson';
		src: url('/src/assets/fonts/atkinson-bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Syncopate';
		src: url('/src/assets/fonts/syncopate-regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Syncopate';
		src: url('/src/assets/fonts/syncopate-bold.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	.font-syncopate {
		font-family: Syncopate, sans-serif;
	}
	:root {
		/* https://xgkft.csb.app/ | 320, 1440, 1, 1.75, 16 */
		font-size: clamp(1rem, 0.7857rem + 1.0714vw, 1.75rem);
	}
}

@layer utility {
	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px 1px 1px 1px);
		/* maybe deprecated but we need to support legacy browsers */
		clip: rect(1px, 1px, 1px, 1px);
		/* modern browsers, clip-path works inwards from each corner */
		clip-path: inset(50%);
		/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
		white-space: nowrap;
	}
}


body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-1);
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding-block: 3em;
	padding-inline: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-block-end: .5em;
	color: var(--text);
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--link);
}
a:hover {
	color: var(--link);
}
p {
	margin-block-end: 1em;
}
.prose p {
	margin-block-end: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding-block: 2px;
	padding-inline: 5px;
	background-color: var(--surface-3);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-inline-start: 4px solid var(--link);
	padding: 0;
	padding-inline-start: 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-block-start: 1px solid var(--surface-3);
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}
