---
import '@styles/about.css';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
import Layout from '@layouts/Default.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div id="club-slogan">
		<div id="club-slogan-content-container">
			<img
				src="src/assets/images/logo-black-red.png"
				alt="SIM IT Club logo"
				class="slogan-text"
			/>
			<p id="club-slogan-text-header">OUR VISION IS BIG AND BOLD.</p>
			<p id="club-slogan-text-content">WE COLLABORATE, NETWORK, CONNECT.</p>
		</div>
		<hr />
	</div>
	<section id="section-intro">
		<h1 class="section-header">
			Providing in-Campus Platform for IT Enthusiasts
		</h1>
		<p class="text-content">
			We, as members of the SIM IT club, believe that the journey to
			understanding and exploring the landscape of modern informational
			technology, is best taken amongst a community of like-minded individuals.
			Whether you are a beginner looking for an introduction workshop to core
			programming concepts. Or an intermediate hoping to apply your course
			knowledge on a team-based technical project. Or even an advance player
			preparing to hone your leadership skills for the industry. The IT Club
			welcomes you with a meriad of activities tailored to help you grow as an
			individual in the fields of IT.
		</p>
		<hr />
	</section>

	<section id="section-activities">
		<h1 class="section-header">Our Activities</h1>

		<div id="section-activities-workshops" class="image-text-container-left">
			<div class="column-2-7">
				<h2 class="text-header">
					Acquire New Skills on Industry Relevant Workshops
				</h2>
				<p class="text-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
					nisl, imperdiet non felis et, pulvinar vulputate dolor. Aenean quis
					volutpat nisl. Vestibulum eu posuere augue. Pellentesque at consequat
					odio, vitae pharetra sapien. Phasellus eget ligula eget nisi sodales
					aliquet euismod at turpis. Donec tincidunt, augue eu rhoncus semper,
					arcu libero efficitur ante, et ultricies nisl ipsum et metus. Mauris
					malesuada eleifend maximus.
				</p>
			</div>
			<div class="column-2-3">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco3"
					class="image"
				/>
			</div>
		</div>

		<div id="section-activities hackathon" class="image-text-container-right">
			<div class="column-2-3">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco3"
					class="image"
				/>
			</div>
			<div class="column-2-7">
				<h2 class="text-header">Compete for Prizes on Our Hackathon</h2>
				<p class="text-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
					nisl, imperdiet non felis et, pulvinar vulputate dolor. Aenean quis
					volutpat nisl. Vestibulum eu posuere augue. Pellentesque at consequat
					odio, vitae pharetra sapien. Phasellus eget ligula eget nisi sodales
					aliquet euismod at turpis. Donec tincidunt, augue eu rhoncus semper,
					arcu libero efficitur ante, et ultricies nisl ipsum et metus. Mauris
					malesuada eleifend maximus.
				</p>
			</div>
		</div>

		<div id="section-activities-subcom" class="image-text-container-left">
			<div class="column-2-7">
				<h2 class="text-header">Become a Member of The Subcommitte</h2>
				<p class="text-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
					nisl, imperdiet non felis et, pulvinar vulputate dolor. Aenean quis
					volutpat nisl. Vestibulum eu posuere augue. Pellentesque at consequat
					odio, vitae pharetra sapien. Phasellus eget ligula eget nisi sodales
					aliquet euismod at turpis. Donec tincidunt, augue eu rhoncus semper,
					arcu libero efficitur ante, et ultricies nisl ipsum et metus. Mauris
					malesuada eleifend maximus.
				</p>
			</div>
			<div class="column-2-3">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco3"
					class="image"
				/>
			</div>
		</div>
		<hr />
	</section>

	<section id="section-excos">
		<h1 class="section-header">Meet Our Excos</h1>

		<div class="exco-gallery">
			<div class="exco-gallery-box">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco1"
					class="exco-img"
				/>
				<h3 class="exco-name"></h3>
				<h4 class="exco-title"></h4>
			</div>

			<div class="exco-gallery-box">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco2"
					class="exco-img"
				/>
				<h3 class="exco-name">Ivonne</h3>
				<h4 class="exco-title">President</h4>
			</div>

			<div class="exco-gallery-box">
				<img
					src="src/assets/images/members/!default.png"
					alt="exco3"
					class="exco-img"
				/>
				<h3 class="exco-name"></h3>
				<h4 class="exco-title"></h4>
			</div>
		</div>
		<hr />
	</section>
</Layout>
