---
import { Image } from "astro:assets";
import '@styles/index.css'
import Meta from '@components/Meta.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import card from '@images/placeholder.jpg'
import logo from '@images/logo.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
const _t = SITE_TITLE;
const _d = SITE_DESCRIPTION;
const _c = card;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<Meta title={ _t } description={ _d } image={ _c } format='webp'/>
</head>
<body>
<Header/>
<main>
	<div id="MainWrapper">
		Main
	</div>
</main>
<Footer/>
</body>
</html>
