---
import { Image } from 'astro:assets';
import '@styles/about.css';
import logo from '@images/logo.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
import { Members, Posts, Categories } from '@content/config';
import Layout from '@layouts/Default.astro';
import { getCollection, getEntryBySlug } from 'astro:content';
import DateLocale from '@components/DateLocale.astro';
import BlogCard from '@components/BlogCard.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class = "vision-mission">
		<h1>Providing in-Campus Platform for IT Enthusiasts</h1>
		<p>
			We, as members of the SIM IT club, believe that the journey to understanding and exploring the
			landscape of modern informational technology, is best taken amongst a community of like-minded
			individuals. Whether you are a beginner looking for an introduction workshop to core
			programming concepts. Or an intermediate hoping to apply your course knowledge on a team-based
			technical project. Or even an advance player preparing to hone your leadership skills for the
			industry. The IT Club welcomes you with a meriad of activities tailored to help you grow as an
			individual in the fields of IT.
		</p>
	</div>

	<h1>Join Us on Various Networking Events</h1>
	<p>
		We, as members of the SIM IT club, believe that the journey to understanding and exploring the
		landscape of modern informational technology, is best taken amongst a community of like-minded
		individuals. Whether you are a beginner looking for an introduction workshop to core programming
		concepts. Or an intermediate hoping to apply your course knowledge on a team-based technical
		project. Or even an advance player preparing to hone your leadership skills for the industry.
		The IT Club welcomes you with a meriad of activities tailored to help you grow as an individual
		in the fields of IT.
	</p>

	<h1>Become a Member of The Subcommitte</h1>
	<p>
		We, as members of the SIM IT club, believe that the journey to understanding and exploring the
		landscape of modern informational technology, is best taken amongst a community of like-minded
		individuals. Whether you are a beginner looking for an introduction workshop to core programming
		concepts. Or an intermediate hoping to apply your course knowledge on a team-based technical
		project. Or even an advance player preparing to hone your leadership skills for the industry.
		The IT Club welcomes you with a meriad of activities tailored to help you grow as an individual
		in the fields of IT.
	</p>

	<h1>Meet Our Excos</h1>
	<p></p>
</Layout>
