---
export interface Props {
	name: string;
	title: string;
	image: string;
}

const { name, image, title } = Astro.props;
---

<div class="exco-box">
	<div class="exco-box-left">
		<img class="exco-img" src={image} />
	</div>
	<div class="exco-box-right">
		<p class="exco-name">{name}</p>
		<p class="exco-title">{title}</p>
		<p class="exco-social"><href></href></p>
	</div>
</div>
