---
import { Icon } from 'astro-icon/components';
import ScrollTopTop from '@components/ScrollToTop.astro';
const today = new Date();
---

<footer>
	<div class="social-links">
		{
			<a href='https://www.linkedin.com/company/sim-information-technology-club/' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on LinkedIn</span>
				<Icon title="LinkedIn" name='bi:linkedin' />
			</a>
			<a href='https://www.instagram.com/simitclub/' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on Instagram</span>
				<Icon title="Instagram" name='bi:instagram' />
			</a>
			<a href='mailto:it@mymail.sim.edu.sg' target='_blank'>
				<span class='sr-only'>Email</span>
				<Icon title="Email" name='bi:envelope' />
			</a>
			<a href='/rss.xml' target='_blank'>
				<span class='sr-only'>RSS Feed</span>
				<Icon title="RSS" name='bi:rss' />
			</a>
			<a href='https://github.com/simitclub' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on GitHub</span>
				<Icon title="GitHub" name='bi:github' />
			</a>
			/*
			 * // Inactive social media accounts:
			 * <a href='https://www.tiktok.com/@simitclub' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on TikTok</span>
			 * <Icon name='bi:tiktok' />
			 * </a>
			 * <a href='https://twitter.com/simitclub' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on Twitter</span>
			 * <Icon name='bi:twitter' />
			 * </a>
			 * <a href='https://www.facebook.com/simitclub/' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on Facebook</span>
			 * <Icon name='bi:facebook' />
			 * </a>
			 */
		}
	</div>
	<span>&copy; 2009-{today.getFullYear()} SIM IT Club</span>
	<ScrollTopTop />
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background-color: var(--bgFooter);
		color: var(--text-2);
		text-align: center;
	}
	footer > *:not(:last-child) {
		margin-bottom: 1em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--text-2);
	}
	.social-links a:hover {
		color: var(--text-1);
	}
</style>
