---
import { Icon } from 'astro-icon/components';
const today = new Date();
---

<footer>
	<div class="social-links">
		{
			<a href='https://www.linkedin.com/in/sim-it-club/' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on LinkedIn</span>
				<Icon name='bi:linkedin' />
			</a>
			<a href='https://www.instagram.com/simitclub/' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on Instagram</span>
				<Icon name='bi:instagram' />
			</a>
			<a href='https://github.com/simitclub' target='_blank'>
				<span class='sr-only'>Follow SIM IT Club on GitHub</span>
				<Icon name='bi:github' />
			</a>
			/*
			 * // Inactive social media accounts:
			 * <a href='https://www.tiktok.com/@simitclub' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on TikTok</span>
			 * <Icon name='bi:tiktok' />
			 * </a>
			 * <a href='https://twitter.com/simitclub' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on Twitter</span>
			 * <Icon name='bi:twitter' />
			 * </a>
			 * <a href='https://www.facebook.com/simitclub/' target='_blank'>
			 * <span class='sr-only'>Follow SIM IT Club on Facebook</span>
			 * <Icon name='bi:facebook' />
			 * </a>
			 */
		}
	</div>
	<span>&copy; 2009-{today.getFullYear()} SIM IT Club</span>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer > *:not(:last-child) {
		margin-bottom: 1em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
