---
const {pathname} = Astro.url;
import {SITE_TITLE} from 'src/consts';
---
<header role="banner" id="site-header">
<div class="content-container">
{
  pathname === '/'
    ? <h1 class="site-title">{SITE_TITLE}</h1>
    : <h2 class="site-title"><a href="/">{SITE_TITLE}</a></h2>
}
<nav role="navigation">
</nav>
</div>
</header>