---
import HeaderLink from './HeaderLink.astro';
import ThemeRadio from './ThemeRadio.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
---

<header>
	<nav>
		<a href='/'>
			<h2 class='sr-only'>{SITE_TITLE}</h2>
			<Icon class='light-only logo' name='simitclub-light' />
			<Icon class='dark-only logo' name='simitclub-dark' />
		</a>
		<div class='internal-links'>
			<HeaderLink href='/'>Home</HeaderLink>
			<HeaderLink href='/blog'>Blog</HeaderLink>
			<HeaderLink href='/about'>About</HeaderLink>
		</div>
		<ThemeRadio />
	</nav>
</header>
<style>
	@layer logo {
		:global([data-icon]) {
			width: 1.75em;
			height: 1.75em;
		}
		.logo {
			width: 3.73em;
			height: 3.73em;
		}
		nav > a:first-child {
			display: flex;
		}
	}

	header {
		margin: 0;
		padding: 0 1em;
		/*position: sticky;
		top: 0px;*/
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		font-weight: 700;
		padding: 0.33em;
		color: var(--fg);
		text-decoration-color: transparent;
	}
	nav a.active {
		text-decoration-color: var(--link);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
