---
import {HTMLAttributes} from "astro/btn";

interface Props extends HTMLAttributes<'button'> {
	// e.g. "nightToggle"
	id?: string;
}
const {
  id,
	...props
} = Astro.props;
---

<button type="button" id={id} {...props}><span></span></button>

<script>
	/* TODO, button wont toggle */
	let btn = document.getElementById({id});

	btn.addEventListener("click", function(){
		/* Each time button is toggled, everything here happens */
		/* TODO */
		btn.classList.toggle("active");
	});
</script>

<style>
	button{
 background: #efefef;
 height: 30px;
 width: 60px;
 border-radius: 20px;
 border: 0;
 outline: 0;
 cursor: pointer;
 margin-left: 25px;
 transition: background 0.5s;
}

button span{
 display: block;
 background: #999;
 height: 26px;
 width: 26px;
 border-radius: 50%;
 margin-left: 2px;
 transition: background 0.5s, margin-left 0.5s;
}

.active{
 background: #003ab9;
}

.active span{
 background: #eeeeee;
 margin-left: 22px;
}
</style>
